*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 300px;
    height: 100px;
    border: 4px solid rgba(0, 0, 0, 0.575);
    margin: auto;
    border-radius: 8px;
}
.form{
    width: 60%;
    height: 100%;
    background: rgba(0, 0, 0, 0.575);
    padding-top: 35px;
}
.form p{
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.mini{
    width: 35px;
    height: 60px;
    border: 5px solid rgba(0, 0, 0, 0.575);
    border-radius: 0px 10px 10px 0px;
    margin-left: 833px;
    margin-top: -78px;
}
.main2{
    border: 5px solid black;
    width: 340px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
}
.mini2{
    width: 50%;
    height: 1000px;
    margin-top: -200px;
    margin-left: 47px;
    background-color: dodgerblue;
    transform: rotate(-200deg);
}